ccext-dialog{
    top: 50%;
    left: 50%;    
    margin-top: -250px;
    margin-left: -200px;
}

#ccext-header{
    width:100%;
    border-bottom:1px solid #d0d0d0;    
}

#ccext-dialog-title {
    width:100%;
    margin-left:10px;
}

.ccext-body{
    width:520px;
}

.ccext-warning{
    width:100%;
    background-color:#d0d0d0;    
}
.ccext-body form {
    margin-top:50px;
    width:100%;
    height:260px;
}

.ccext-body form input{
   margin:6px;
}

.ccext-body form select{
    margin:6px;    
}